<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Edit.WPF" version="17.2.0.47" targetFramework="net452" />
  <package id="Syncfusion.GridCommon.Wpf" version="17.2.0.47" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="17.2.0.47" targetFramework="net452" />
  <package id="Syncfusion.Shared.WPF" version="17.2.0.47" targetFramework="net452" />
  <package id="Syncfusion.Tools.WPF" version="18.1.0.59" targetFramework="net452" />
</packages>